@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500&display=swap');
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

li,
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #646977;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}

.logo {
  cursor: pointer;
}
.nav-menu {
  list-style: none;
}
.nav-menu li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-menu li a {
  transition: all 0.3s ease 0s;
}
.nav-menu li a:hover {
  color: rgb(76, 54, 153);
}
a::after {
  content: '';
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 0px;
  background: linear-gradient(#795ffd, #3518c9);
}
a:hover::after {
  width: 100%;
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: all 0.4s;
}
.hamburger {
  display: none;
}
#backBtn {
  display: none;
  position: fixed;
  width: auto;
  height: auto;
  border-radius: 10px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #3518c9;
  color: white;
  cursor: pointer;
  padding: 15px;
}

#backBtn:hover {
  background: -webkit-linear-gradient(#419fdd, #a966e5);
}
.bar {
  display: block;
  width: 25px;

  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(#795ffd, #3518c9);
}

.header_btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 25px;
  background: linear-gradient(#795ffd, #3518c9);
  border-color: aqua;
  border: none;
  border-radius: 15px !important;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header_btn:hover {
  border-color: rgb(48, 37, 145);
}

.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  padding: 0px 20%;
}

.vector_grid svg {
  position: absolute;
  background: none;
  left: auto;
  right: 17px;
}

.logo_block svg {
  position: absolute;
  left: 0%;
  top: 350px;
  right: auto;
  background: none;
}
.hero_text {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(#419fdd, #a966e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_paragraph {
  margin-top: 12px;
  text-align: center;
  color: #646977;
}

.hero_beta_btn {
  display: inline-block;
  margin-top: 20px;
  font-weight: 400;
  font-size: 26px;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 25px;
  background: linear-gradient(#795ffd, #3518c9);
  border-color: aqua;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.hero_beta_btn i {
  background: none;
}

.hero_beta_btn:hover i {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.hero_bottom_text {
  margin-top: 50px;
  margin-bottom: 23px;
  font-size: 1.7rem;
  opacity: 0.9;
  bottom: auto;
  top: auto;
  font-weight: 400;
  color: #646977;
}
.img_demo_1 {
  position: absolute;
  top: 390px;
  border-radius: 20px;
}
.img_demo_1 img {
  border-radius: 20px;
}
.tagbox {
  margin-top: 10px;

  display: flex !important;
  align-items: flex-start;
  justify-content: space-around;
  align-content: space-between;
}
.tag_btn:nth-of-type(1) {
  opacity: 1;
}
.tag_btn {
  font-weight: 500;
  font-size: 15px;
  opacity: 0.5;
  color: #381bcb;
  text-decoration: none;
  padding: 9px 20px;
  background-color: #fff;
  border-color: aqua;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.tagbox .tag_btn {
  margin-left: 4px;
}
.tagbox .gai {
  display: flex;
  flex-direction: row;
  margin-left: 4px;
}
.feature_section {
  background: linear-gradient(#785efd, #371bcb);
  width: 100%;
  margin-top: 230px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 20%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.feature_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.feature_section_heading {
  margin-top: 230px;
  font-size: 4vw;
  background: none;
  font-weight: 400;
  color: #ffffff;
}

.feature_section_heading span {
  margin-top: 520px;
  font-size: 4vw;
  background: none;
  font-weight: 600;
}
.feature_section_para {
  background: none;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

.feature_beta_btn {
  margin: 20px;

  font-weight: 500;
  font-size: 16px;
  color: #381bcb;
  text-decoration: none;
  padding: 9px 25px;
  background-color: #fff;
  border-color: aqua;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.feature_beta_btn:hover {
  font-size: 20px;
}

.lumoz_features_list_heading {
  margin-top: 40px;
  font-size: 3rem;
  background: none;
  font-weight: 400;
  color: #ffffff;
}

.lumoz_features_list_heading span {
  font-size: 3rem;
  background: none;
  font-weight: 600;
  color: #ffffff;
}

.feature_tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: space-around;
  align-content: space-around;
  top: 250px;
  margin: 0;

  background: none !important;
}
.feature_tab svg {
  margin: auto;
  background: transparent;
  display: flex;
  flex-direction: row;
}

.feature_dots {
  position: absolute;
  left: auto;
  top: auto;
  right: 0;
}
.project_scope {
  background-color: #fff;
  width: 100%;

  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 20%;
}
.project_scope_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.desc_lumoz {
  font-size: 3rem;
  color: #363636;
}
.desc_para {
  color: #646977;
  font-size: 1.2rem;
  text-align: center;
}

.section_timeline {
  background-image: url(https://www.mlegakis.com/uploads/1/6/2/6/16265388/background-images/247225258.jpg) !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
}
.section_timeline_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.section_timeline_header_text {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #363636;
}
.timeline {
  padding: 0px 5%;
  max-width: 1300px;
  margin: 0 auto;
}
.timeline > .timeline-item {
  display: flex;
  align-items: flex-start;
}
.timeline > .timeline-item > div {
  flex: 1;
  padding: 20px 40px;
}
.timeline > .timeline-item > div:last-child {
  text-align: left;
  padding-bottom: 40px !important;
}
.timeline > .timeline-item > div:first-child::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #785efd;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 4px rgba(103, 58, 183, 0.2);
}
.timeline > .timeline-item:nth-child(odd) > div:first-child {
  text-align: right;
  position: relative;
}
.timeline > .timeline-item:nth-child(odd) > div:first-child::after {
  right: -17px;
}
.timeline > .timeline-item:nth-child(odd) > div:last-child {
  text-align: left;
  border-left: 2px solid #e0e0e0;
}
.timeline > .timeline-item:nth-child(odd) > .timeline-date > div {
  margin-right: 0px;
}
.timeline > .timeline-item:nth-child(odd) > .timeline-date > img {
  right: 11%;
  left: inherit;
}
.timeline > .timeline-item:nth-child(odd) > .timeline-content > h2 {
  margin-bottom: 10px;
  text-align: left !important;
}
.timeline > .timeline-item:nth-child(odd) > .timeline-content > p > img {
  right: 0;
}
.timeline > .timeline-item:nth-child(even) > div:first-child {
  order: 2;
  text-align: left;
  position: relative;
}
.timeline > .timeline-item:nth-child(even) > div:first-child::after {
  left: -1px;
}
.timeline > .timeline-item:nth-child(even) > div:last-child {
  order: 1;
  text-align: right;
  border-right: 2px solid #e0e0e0;
}
.timeline > .timeline-item:nth-child(even) > .timeline-date > div {
  margin-left: 0px;
}
.timeline > .timeline-item:nth-child(even) > .timeline-date > img {
  left: 11%;
  right: inherit;
}
.timeline > .timeline-item:nth-child(even) > .timeline-content > h2 {
  margin-bottom: 10px;
  text-align: right !important;
}
.timeline > .timeline-item:nth-child(even) > .timeline-content > p > img {
  right: inherit;
  left: 0;
  transform-origin: bottom left;
}
.timeline > .timeline-item:nth-child(even) > .timeline-content > p > button {
  left: inherit;
  right: 15px;
}
.timeline > .timeline-item .timeline-date {
  position: relative;
}
.timeline > .timeline-item .timeline-date > img {
  position: absolute;
  filter: grayscale(100%);
  opacity: 0.06;
  transform: scale(1.2);
  transform-origin: center;
  left: 11%;
}
.timeline > .timeline-item .timeline-date > div {
  background-image: linear-gradient(#785efd, #371bcb);
  box-shadow: 0 10px 15px rgba(103, 58, 183, 0.3);
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  max-width: max-content;
  margin: auto;
  padding: 10px 30px;
}
.timeline > .timeline-item .timeline-content .fa-icon {
  font-size: 30px;
  color: #3518c9;
}
.timeline > .timeline-item .timeline-content > h2 {
  color: #371bcb;
  margin: 0px;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 7px;
}
.timeline > .timeline-item .timeline-content > h2 span {
  color: #371bcb;
  font-weight: bold;
  font-size: 0.6em;
  letter-spacing: 2px;
  margin-left: 5px;
}
.timeline > .timeline-item .timeline-content > p {
  font-size: 0.9em;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(103, 58, 183, 0.08);
  position: relative;
  line-height: 25px;
  padding-bottom: 60px;
  min-height: 100px;
}
.timeline > .timeline-item .timeline-content > p > img {
  width: 100px;
  opacity: 0.05;
  position: absolute;
  right: 0;
  bottom: 0;
  transform-origin: bottom right;
  transform: scale(1.8);
}
.timeline > .timeline-item .timeline-content > p > button {
  background: no-repeat;
  outline: none;
  color: #785efd;
  border: none;
  padding: 7px 15px;
  position: absolute;
  bottom: 15px;
  border-radius: 30px;
  left: 15px;
  box-shadow: 0 0px 2px rgba(103, 58, 183, 0.1);
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 0.9em;
  font-weight: normal;
  transition: all 0.5s ease;
}
.timeline > .timeline-item .timeline-content > p > button:hover {
  background: #785efd;
  box-shadow: 0 5px 10px rgba(103, 58, 183, 0.1);
  color: #ffffff;
}
@media (max-width: 767px) {
  .timeline > .timeline-item {
    flex-direction: column;
    border-left: 2px solid #e0e0e0;
  }
  .timeline > .timeline-item .timeline-date > img {
    display: none;
  }
  .timeline > .timeline-item > div {
    border-width: 0px !important;
    text-align: left !important;
    order: unset !important;
  }
  .timeline > .timeline-item > div::after {
    left: 0% !important;
  }
  .timeline > .timeline-item:nth-child(odd) > .timeline-content > h2 {
    text-align: left !important;
  }
  .timeline > .timeline-item:nth-child(even) > .timeline-content > h2 {
    text-align: left !important;
  }
  .timeline > .timeline-item:nth-child(even) > .timeline-content > p > img {
    right: 0;
    left: inherit;
    transform-origin: bottom right;
  }
  .timeline > .timeline-item:nth-child(even) > .timeline-content > p > button {
    left: 15px;
    right: inherit;
  }
}
@media only screen and (max-width: 768px) {
  .hero_text {
    font-size: 30px;
    white-space: pre;
  }
  .logo_block svg {
    width: 70px;
    top: 80px;
  }
  .vector_grid svg {
    width: 40px;
  }
  .hero_beta_btn {
    font-size: 1rem;
  }
  .tagbox {
    visibility: hidden;
  }
  .tagbox .gai {
    display: none;
  }

  .hero_bottom_text {
    font-size: 1.3rem;
  }

  .img_demo_1 img {
    width: 100%;
    height: auto;
  }
  .feature_section_heading {
    margin-top: 100px;
    top: auto;
    bottom: auto;
    font-size: 1.5rem;

    text-align: center;
  }
  .feature_section_heading span {
    font-size: 1.2rem;
  }
  .feature_section_para {
    font-size: small;
  }
  .lumoz_features_list_heading {
    font-size: 30px;
    text-align: center;
  }
  .lumoz_features_list_heading span {
    font-size: 30px;
  }
  .feature_tabs {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .project_scope_wrapper {
    display: flex;
    align-items: center;
    align-content: center;
  }
  .desc_lumoz {
    font-size: 30px;
    white-space: pre;
  }
  .desc_para {
    font-size: medium;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
