@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500&display=swap');
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

li,
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #646977;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}

.logo {
  cursor: pointer;
}
.nav-menu {
  list-style: none;
}
.nav-menu li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-menu li a {
  transition: all 0.3s ease 0s;
}
.nav-menu li a:hover {
  color: rgb(76, 54, 153);
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;

  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.header_btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 25px;
  background: linear-gradient(#795ffd, #3518c9);
  border-color: aqua;
  border: none;
  border-radius: 15px !important;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header_btn:hover {
  border-color: rgb(48, 37, 145);
}

.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  padding: 0px 20%;
}
.vector_grid svg {
  position: absolute;
  background: none;
  left: auto;
  right: 17px;
}

.logo_block svg {
  position: absolute;
  left: 0%;
  top: 350px;
  right: auto;
  background: none;
}
.hero_text {
  font-size: 3rem;
  background: -webkit-linear-gradient(#419fdd, #a966e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_paragraph {
  margin-top: 12px;
  text-align: center;
  color: #646977;
}

.hero_beta_btn {
  display: inline-block;
  margin-top: 20px;
  font-weight: 400;
  font-size: 26px;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 25px;
  background: linear-gradient(#2ac4a0, #6c77ef);
  border-color: aqua;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.hero_beta_btn i {
  background: none;
}

.hero_beta_btn:hover i {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.hero_bottom_text {
  margin-top: 50px;
  margin-bottom: 23px;
  font-size: 1.7rem;
  opacity: 0.9;
  bottom: auto;
  top: auto;
  font-weight: 400;
  color: #646977;
}
.img_demo_1 {
  position: absolute;
  top: 390px;
  border-radius: 20px;
}
.img_demo_1 img {
  border-radius: 20px;
}

.feature_section {
  background: linear-gradient(#785efd, #371bcb);
  width: 100%;
  margin-top: 230px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 20%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.feature_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature_section_heading {
  margin-top: 230px;
  font-size: 3rem;
  background: none;
  font-weight: 400;
  color: #ffffff;
}

.feature_section_heading span {
  margin-top: 520px;
  font-size: 3rem;
  background: none;
  font-weight: 600;
}
.feature_section_para {
  background: none;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

.feature_beta_btn {
  margin: 20px;

  font-weight: 500;
  font-size: 16px;
  color: #381bcb;
  text-decoration: none;
  padding: 9px 25px;
  background-color: #fff;
  border-color: aqua;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.feature_beta_btn:hover {
  font-size: 20px;
}

.lumoz_features_list_heading {
  margin-top: 40px;
  font-size: 3rem;
  background: none;
  font-weight: 400;
  color: #ffffff;
}

.lumoz_features_list_heading span {
  font-size: 3rem;
  background: none;
  font-weight: 600;
  color: #ffffff;
}

.feature_tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: space-around;
  align-content: space-around;
  top: 250px;
  margin: 0;

  background: none !important;
}
.feature_tab svg {
  margin: auto;
  background: transparent;
  display: flex;
  flex-direction: row;
}

.feature_dots {
  position: absolute;
  left: auto;
  top: auto;
  right: 0;
}
.project_scope {
  background-color: #fff;
  width: 100%;

  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 30px 20%;
}
.project_scope_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.desc_lumoz {
  font-size: 3rem;
  color: #646977;
}
.desc_para {
  font-size: 1.2rem;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .hero_text {
    font-size: 20px;
  }
  .logo_block {
    display: none;
  }
  .hero_beta_btn {
    font-size: 1rem;
  }
  .hero_bottom_text {
    font-size: 1.3rem;
  }
  .img_demo_1 img {
    width: 100%;
    height: auto;
  }
  .feature_section_heading {
    margin-top: 100px;
    top: auto;
    bottom: auto;
    font-size: 20px;
  }
  .feature_section_heading span {
    font-size: 20px;
  }
  .feature_section_para {
    font-size: small;
  }
  .lumoz_features_list_heading {
    font-size: 30px;
  }
  .lumoz_features_list_heading span {
    font-size: 30px;
  }
  .feature_tabs {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
